<div class="author">
    <h1 class="author__heading">Hi, I am Petar.</h1>
    <p class="author__body">Web developer.</p>
</div>

<img src="/img/hero-image.webp" alt="Person looking out through window" width="981" height="528" class="hero-image">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    {{#if articles.length}}
    <ul class="article-ul">

        {{#each articles}}
        <li>
            <a href="/post/{{_id}}">
                <span>{{title}}</span>
                <span class="article-list__date">{{formattedCreatedAt}}</span>
            </a>
        </li>
        {{/each}}

    </ul>
    {{else}}
    <p>No articles found.</p>
    {{/if}}

    {{#if nextPage}}
    <a href="/?page={{nextPage}}" class="pagination">&lt; View Older Posts</a>
    {{/if}}
</section>